<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Control Horario{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">
    <header>
        <h1 class="titulo-principal">Sistema de Control de Horario</h1>
        <nav class="navbar">
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <a href="{{ url_for('registrar_entrada') }}">Registrar Entrada</a>
            <a href="{{ url_for('registrar_salida') }}">Registrar Salida</a>
            <a href="{{ url_for('consultar_registros') }}">Consultar Registros</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>