{% extends "base.html" %}
{% block title %}Registrar Entrada{% endblock %}
{% block body_class %}funcionalidad-body{% endblock %}

{% block content %}
<div class="cuadro-formulario">
    <h2>Registrar Entrada</h2>
    <form action="{{ url_for('registrar_entrada') }}" method="post">
        <label for="legajo">Legajo:</label>
        <input type="text" name="legajo" required>
        <label for="dni">Últimos 4 dígitos del DNI:</label>
        <input type="text" name="dni" maxlength="4" required>
        <label for="dependencia">Dependencia:</label>
        <select name="dependencia" required>
            <option value="" disabled selected>Seleccionar</option>
            {% for codigo, nombre in dependencias %}
                <option value="{{ codigo }}">{{ nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Registrar Entrada</button>
    </form>
    {% for message in get_flashed_messages() %}
      <div class="mensaje-flash">{{ message }}</div>
    {% endfor %}
</div>
{% endblock %}